<!DOCTYPE html>
<html>
<head>
        <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900|Quicksand:400,700|Questrial" rel="stylesheet" />

        <link href="main.css" rel="stylesheet" type="text/css" media="all" />

</head>
<body>

    <div class="split left">
      <div id="header-wrapper">
          <h1>J-DAM</h1>
      </div>

    </div>


    <div class="split right">
     
      <div id="header" class="container">
        <div id="logo">
            <div class="title">
              <h2> </h2>
            </div>
        </div>
      </div>
  
    <div class="title"> 
      <h3> You do not have access to this page</h3>
  
    </div>

   

    </div>


   

    

  
  
  


</body>
</html>