<!DOCTYPE html>
<html>
<head>
        <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900|Quicksand:400,700|Questrial" rel="stylesheet" />

        <link href="main.css" rel="stylesheet" type="text/css" media="all" />

</head>
<body>

    <div class="split left">
        <% include ./partials/logo.ejs%>


      <div id="menu">
        <ul>
          <li><a href="./register.html" accesskey="2" title="">Register</a></li>
          <li><a href="./about.html" accesskey="2" title="">About</a></li>

        </ul>
      </div>

      <% include ./partials/footer.ejs%>

    </div>


    <div class="split right">
     
      <div id="header" class="container">
        <div id="logo">
            <div class="title">
              <h2>Welcome to the colloborative world </h2>
            </div>
        </div>
      </div>
  
    <div class="title"> 
      <h3> Register </h3>
    </div>

    <div id="messageBanner"> 
      <% if(error) { %>
        <font class="errorMsg"> <%=error%> </font>
        <% } %>
        <% if(success) { %>
          <font class="successMsg"> <%=success%> </font>
          <% } %>
    </div>


    <div id="page-wrapper">
        
      <form action="/login" method="POST">
              
        <table class="general"> 
          <tbody>  
            <TR> 
              <TD> Email </TD>
              <TD> <input type="text" id="username" name="username"> </TD>
            </TR>
            <TR> 
              <TD> Password </TD>
              <TD> <input type="password" id="password" name="password"> </TD>
            </TR>
            <TR> 
              <TD> </TD>
              <TD> <input type="submit" id="register" name="login" class="jdamGreen" value="Login"> </TD>
            </TR>
          </tbody>
              
        </table> 
      </form>
    </div>
  </div>
  </body>
</html>