<!DOCTYPE html>
<html>
<head>
        <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900|Quicksand:400,700|Questrial" rel="stylesheet" />

        <link href="main.css" rel="stylesheet" type="text/css" media="all" />

</head>
<body>

    <div class="split left">


      <div id="menu" style="margin-top: 12em;">
        <ul>
          <li><a href="./register.html" accesskey="2" title="">Register</a></li>
          <li><a href="./about.html" accesskey="2" title="">About</a></li>

        </ul>
      </div>

      <% include ./partials/footer.ejs%>

    </div>


    <div class="split right">
     
      <div id="header" class="container">
        <div id="logo">
            <div class="title">
              <h2>JDAM </h2>
            </div>
        </div>
      </div>
  
    <div id="page-wrapper" style="margin-top: 4em;">
        
              
        <table class="general" style="margin-left: 10%; margin-bottom: 10%"> 
          <tbody>  
            <TR> 
              <TD> <B> What is it? </B> </TD>
              <TD> In simple words - a mini test-management tool for everyone. The sole intention of this project is to develop a open source dashboard to centrally store 
                automated test statuses. </TD>
            </TR>
            <TR> 
              <TD> <B> What features does it have? </B> </TD>
              <TD> <ul>
                <li> Tests - a simple object to store a test case </li>
                <li> Projects - a container for tests. </li>
                <li> Users - Manage users. An admin-only operation. </li>
                <li> Dashboard view for test results and completion status.</li>
                <li> Visualize test history.</li>
              </ul> </TD>
            </TR>
            <TR> 
              <TD> <B> Is it really free? </B> </TD>
              <TD> Yes! </TD>
            </TR>
            <TR> 
              <TD> <B> How do I host this ?  </B> </TD>
              <TD> This is no cloud support at the moment. You can download the src and deploy locally. Please read the deployment documentation for more info. </TD>
            </TR>
            <TR> 
              <TD> <B>Can I fork and use it for my own organization ? </B> </TD>
              <TD> Yes you can. Before doing it, please contact the author to determine if your change is helpful to the larger group. In such cases, it can be implemented as hooks. </TD>
            </TR>
            <TR> 
                <TD> <B>Can I request features ? </B> </TD>
                <TD> Absolutely. All features will be prioritized based on value . </TD>
              </TR>
              
            <TR> 
                <TD> <B> Where is the development going on ? </B> </TD>
                <TD> Active development and pipelines are taking place in private bitbucket repo and restricted to 
                  specific people. The source will soon be available publicly in github.  
                  </TD>
              </TR>
              <TR> 
                  <TD> <B> Where do I submit a feature request ? </B> </TD>
                  <TD> Use git hub issues to file feature requests once it is available for public. 
                    </TD>
                </TR>
                
            <TR> 
              <TD> 
                  <B> Can I donate to this project? </B>
              </TD>
              <TD> 
                  No. The are no expenses apart from the demo hosted on www.testjam.org. 
              </TD>
            </TR>
            <TR> 
              <TD> <B> What is copyright policy? </B>  </TD>
              <TD> All UI design is custom developed. They are restricted from redistribution. </TD>
            </TR>
          </tbody>
              
        </table> 
      </form>
    </div>
  </div>
  </body>
</html>