<!DOCTYPE html>
<html>
<head>
        <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900|Quicksand:400,700|Questrial" rel="stylesheet" />

        <link href="main.css" rel="stylesheet" type="text/css" media="all" />

</head>
<body>

    <div class="split left">


      <div id="menu" style="margin-top: 12em;">
        <ul>
          <li><a href="./register.html" accesskey="2" title="">Register</a></li>
          <li><a href="./about.html" accesskey="2" title="">About</a></li>

        </ul>
      </div>

      <% include ./partials/footer.ejs%>

    </div>


    <div class="split right">
     
      <div id="header" class="container">
        <div id="logo">
            <div class="title">
              <h2>TEST JAM </h2>
            </div>
        </div>
      </div>
  
    <div id="page-wrapper" style="margin-top: 4em;">
        
              
        <table class="general" style="margin-left: 10%; margin-bottom: 10%"> 
          <tbody>  
            <TR> 
              <TD> <B> What is it? </B> </TD>
              <TD> A mini test-management tool for everyone. </TD>
            </TR>
            <TR> 
              <TD> <B> Why ? </B> </TD>
              <TD> The sole intention of this open source project is to let teams own a testing tool to manage tests`. </TD>
            </TR>
            <TR> 
              <TD> <B> What features does it have? </B> </TD>
              <TD> <ul>
                <li> Tests - a real world representation of a test. </li>
                <li> Execute tests.</li>
                <li> Projects - a container for tests. </li>
                <li> Users - Manage users. An admin-only operation. </li>
                <li> Dashboard view for test results and completion status.</li>
              </ul> </TD>
            </TR>
            <TR> 
              <TD> <B> Is it really free? </B> </TD>
              <TD> Yes! </TD>
            </TR>
            <TR> 
              <TD> <B> How do I use this ?  </B> </TD>
              <TD> This is no cloud support at the moment. You can download the source and deploy it in your local environment. 
                For more info, please read the deployment documentation. </TD>
            </TR>
            <TR> 
              <TD> <B>Can I fork and use it for my own organization? </B> </TD>
              <TD> Yes you can. Before doing so, please contact the author to determine if your change can be
                   helpful to a larger group. In such cases, it can be implemented as configurable hooks. </TD>
            </TR>
            <TR> 
                <TD> <B>Can I request features ? </B> </TD>
                <TD> Absolutely! Use github issues. </TD>
              </TR>
              
            <TR> 
                <TD> <B> Where is the development going on? </B> </TD>
                <TD> Active development is being migrated from bitbucket to github for the source toe be publicly
                    available. The repository in github is backed with azure pipeline services.  
                  </TD>
              </TR>
              <TR> 
                  <TD> <B> Where do I submit a feature request ? </B> </TD>
                  <TD> GitHub issues
                    </TD>
                </TR>
                
            <TR> 
              <TD> 
                  <B> Can I donate to this project? </B>
              </TD>
              <TD> 
                  No. There are no expenses apart from the demo hosted at www.testjam.org. 
              </TD>
            </TR>
            <TR> 
              <TD> <B> What is copyright policy? </B>  </TD>
              <TD> All UI design is custom developed. They are restricted from redistribution. </TD>
            </TR>
          </tbody>
              
        </table> 
      </form>
    </div>
  </div>
  </body>
</html>