<div class="split left">
        <% include ./logo.ejs%>
  
        <div id="menu">
          <ul>
            <li><a href="./home.html" accesskey="2" title="">Home</a></li>
            <li><a href="./dashboard.html" accesskey="2" title="">Dashboard</a></li>
            <li><a href="./completion.html" accesskey="4" title="">Completion Status</a></li>
            <li><a href="./projects.html" accesskey="3" title="">Projects</a></li>
            <li><a href="./addNewTest.html" accesskey="4" title="">Add New Test</a></li>
            <li><a href="./login.html?logout=1" accesskey="5" title="">Logout</a></li>
  
  
          </ul>
        </div>
  
      </div>