<div id="messageBanner"> 
        <% if(error) { %>
          <div id="snackbar"> <font style="color: #fb5757"> (X)  <%=error%> </font> </div>
        <% } %>
        <% if(success) { %>
          <div id="snackbar"> <font style="color: #6cdc6c">  <%-success%> </font> </div>
          <% } %>
      </div>