 
<button class="openbtn" onclick="expandHelp()" >&#171; Help</button>  

<div id="helpPanel" class="sidepanel">
  <a href="javascript:void(0)" class="closebtn" onclick="collapseHelp()">×</a>

  <p> <%=helpText.title%> </p>

  <% for (const b of helpText.body) { %>
    <p> <%=b%> </p>
    <br>

  <% } %>
       
</div>

