html, body
{
  height: 80%;
}

body
{
  margin: 0px;
  padding: 0px;
  background: #334467;
  font-family: 'Questrial', sans-serif;
  font-size: 12pt;
  color: black;
}


p, ol, ul
{
  margin-top: 0;
}

ol, ul
{
  padding: 0;
  list-style: none;
}

p
{
  line-height: 180%;
}



a
{
  color: #16A085;
}

a:hover
{
  text-decoration: none;
}


.container
{
  margin: 0px auto;
  width: 1200px;
}



/*********************************************************************************/
/* Heading Titles                                                                */
/*********************************************************************************/

.title
{
  margin-bottom: 1em;
  text-align: center;
  
}

.title h2
{
  font-size: 2.5em;
  color: #302e2e;
}

.title h3
{
  font-size: 1.8em;
  color: #302e2e;
  text-align: center;
  margin-top: 1em;
}
.title .byline
{
  font-size: 1.1em;
  color: rgba(255,255,255,.5);
}

/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/

#header-wrapper
{
  height: 20% ;
}

#header
{
  text-align: center;
}


#header-wrapper h1
{
  color: white;
  margin: 1em 1em 1em 1em;
  font-size: 3em;
}

#page-wrapper {
  margin-top: 5em;
}

#messageBanner {
  text-align: center;
  margin: 0em 0em 2em 0em;
}
.successMsg {
  color : green;
}

.errorMsg {
  color : red;
}

#menu ul
{
  display: inline-block;
  padding: 0em 2em;
  text-align: center;
}

#menu a
{
  color: white;
  text-decoration: none;
}


#menu ul li
{
  padding: 20px;
}



.table-header
{
  padding: 0em 0em 3em 3em;
}

select
{
  font-size: 15px
}


.table-footer
{
  padding: 3em 0em 3em 3em;
}

.table-footer input
{
  margin-right: 2em;
}

.section-header 
{
  padding: 2em 0em 1em 3em;
  font-size: 20px

}


/*********************************************************************************/
/* Welcome                                                                       */
/*********************************************************************************/

#welcome
{
  overflow: hidden;
  width: 1200px;
  padding: 2em 0px 0em 0px;
  text-align: center;
}

#welcome .content
{
  padding: 0em 8em;
}

  #welcome .image
  {
    display: block;
    padding-top: 3em;
    border: none;
  }

#welcome .title h2
{
  color: #302e2e;
}

#welcome a,
#welcome strong
{
  color: #C6C2C4;
}




/*********************************************************************************/
/* Dashboard                                                                       */
/*********************************************************************************/

.column {
  float: left;
  width: 33.33%;
  border-top: 1px solid #c3b5b5;
  border-top: 1px solid #c3b5b5;
  cursor: pointer;

}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

table.general {
  margin-left: 30%;
  width: 40%;
}

table.general tr td {
  padding-bottom: 2em;
}



table.jdamTable {
margin-left: 3em;
  border: 3px solid #000000;
  width: 90%;
  text-align: left;
}
table.jdamTable td, table.jdamTable th {
  border: 1px solid #000000;
  padding: 5px 4px;
}
table.jdamTable tbody td {
  font-size: 15px;
color: black;
}
table.jdamTable thead {
  background: #0F0F0F;
  background: -moz-linear-gradient(top, #4b4b4b 0%, #272727 66%, #0F0F0F 100%);
  background: -webkit-linear-gradient(top, #4b4b4b 0%, #272727 66%, #0F0F0F 100%);
  background: linear-gradient(to bottom, #4b4b4b 0%, #272727 66%, #0F0F0F 100%);
}
table.jdamTable thead th {
  font-size: 15px;
  font-weight: bold;
  color: #FAF7F3;
  text-align: left;
}
table.jdamTable tfoot td {
  font-size: 14px;
}

table.formTable {
  margin: 2em 0em 0em 2em;
}

table.formTable td {
  padding-bottom: 2em;
}

#Edit{
text-align: center;  
margin-top: 1.5em;
}

/* SPLIT CODE*/
.split {
height: 100%;

position: fixed;
z-index: 1;
top: 0;
overflow-x: hidden;
padding-top: 20px;
}

/* Control the left side */
.left {
left: 0;
width: 20%;
background:#132f63;
}

/* Control the right side */
.right {
right: 0;
 width: 80%;
  background:WHITE;
}

/**

Buttons 
*/

.jdamBlue {
background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #63b8ee), color-stop(1, #468ccf));
background:-moz-linear-gradient(top, #63b8ee 5%, #468ccf 100%);
background:-webkit-linear-gradient(top, #63b8ee 5%, #468ccf 100%);
background:-o-linear-gradient(top, #63b8ee 5%, #468ccf 100%);
background:-ms-linear-gradient(top, #63b8ee 5%, #468ccf 100%);
background:linear-gradient(to bottom, #63b8ee 5%, #468ccf 100%);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#63b8ee', endColorstr='#468ccf',GradientType=0);
background-color:#63b8ee;
-moz-border-radius:6px;
-webkit-border-radius:6px;
border-radius:6px;
border:1px solid #3866a3;
display:inline-block;
cursor:pointer;
color: white;
font-family:Arial;
font-size:15px;
font-weight:bold;
padding:6px 24px;
text-decoration:none;
}

.jdamGreen {

background-color:#18a71c;
-moz-border-radius:6px;
-webkit-border-radius:6px;
border-radius:6px;
border:1px solid #18a71c;
display:inline-block;
cursor:pointer;
color: white;
font-family:Arial;
font-size:15px;
font-weight:bold;
padding:6px 24px;
text-decoration:none;
}


.jdamGreen:disabled {

  background-color:#95a296;
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  border-radius:6px;
  border:1px solid #18a71c;
  display:inline-block;
  cursor:pointer;
  color: white;
  font-family:Arial;
  font-size:15px;
  font-weight:bold;
  padding:6px 24px;
  text-decoration:none;
  }

.jdamRed {

  background-color: #e40606;
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  border-radius:6px;
  border:1px solid red;
  display:inline-block;
  cursor:pointer;
  color: white;
  font-family:Arial;
  font-size:15px;
  font-weight:bold;
  padding:6px 24px;
  text-decoration:none;
  }

.jdamGrey {

  background-color: #5d5c5c;
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  border-radius:6px;
  border:1px solid grey;
  display:inline-block;
  cursor:pointer;
  color: white;
  font-family:Arial;
  font-size:15px;
  font-weight:bold;
  padding:6px 24px;
  text-decoration:none;
  }

  input[type=text], input[type=password] {
    width: 200px;
    padding: 5px;
    border-radius: 5px;
  }
  
  textarea {
    height: 200px;
    width: 500px;
  }

  select {
  border-radius: 5px;
  padding: 5px;
  width: 200px;
  background: #e2e2e2
  }



  /* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: #333; /* Black background color */
  color: #fff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 2px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  left: 50%; /* Center the snackbar */
  bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}


.sidepanel  {
  width: 0;
  position: fixed;
  z-index: 1;
  height: 550px;
  top: 7.5em;
  right: 0;
  background-color: #3e7aad;
  overflow-x: hidden;
  transition: 0.5s;
  color: white
}

.sidepanel a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
  transition: 0.3s;
}

.sidepanel a:hover {
  color: #f1f1f1;
}

.sidepanel .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
}

.openbtn {
  position: fixed;
  top: 4em;
  right: 0;
  font-size: 20px;
  cursor: pointer;
  background-color: #132f63;
  color: white;
  padding: 10px 15px;
  border: none;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
